 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: sans-serif;
 }

 body {
     width: 100%;
     min-height: 100vh;
     background-color: #D5E1EF;
 }

 .card {
     width: 100%;
     max-width: 310px;
     height: 480px;
     background-color: #ffffff;
     position: fixed;
     margin: auto;
     inset: 0;
     border-radius: 1rem;
     padding: 15px;
 }

 img {
     width: 100%;
     border-radius: 8px;
 }

 h2 {
     text-align: center;
     padding-top: 10px;
     color: #3e52a3;
     ;

 }

 p {
     text-align: center;
     padding: 10px;
     color: rgba(61, 77, 128, 0.483);
 }